 {% extends 'AcmeDemoBundle::layout1.html.twig' %}

   {%  block title %}
     EJEMPLO DE PRUEBAS
   {% endblock %}

  {% block contenido %}
    
   <h1>Inicio</h1>
   <h3> Fecha: {{fecha}}  </h3>
   {{mensaje}}
   
   
  {% endblock %}